:root {
    --background-color: #FFFFFF;
    --color: #000000;
    --border: rgb(171, 171, 171);
}

[data-theme="dark"] {
    --background-color: #111;
    --color: #bbb;
    --border: rgb(83, 84, 85);
}

[data-theme="dark"] #toggle-dark {
    display: none;
}

[data-theme="light"] #toggle-light {
    display: none;
}

h1,
p,
button {
    font-family: sans-serif;
}

div {
    box-sizing: border-box;
}

body {
    color: var(--color);
    background-color: var(--background-color);
}

main {
    display: block;
    width: 90vw;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.playground-controls {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding-top: 0.4rem;
}

h1 {
    font-size: 2.5rem;
    margin-right: 0.5rem;
}

#stdout {
    display: block;
    padding: 1rem;
    margin: 2rem 0;
    font-family: monospace;
    width: 100%;
    height: 20vh;
    border: 1px dashed gray;
    overflow: scroll;
    white-space: pre;
}

button {
    font-size: 1rem;
    padding: 0.6rem;
    border: none;
    background: lightblue;
    cursor: pointer;
}

#playground {
    display: flex;
    flex-direction: column;
}

#editor {
    border: solid 1px var(--border);
    font-size: 0.8rem;
    /* Ensure the font for ace editor is monospace! */
    font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'Source Code Pro', 'source-code-pro', monospace !important;
    height: 60vh;
}

/* On smaller screen widths, the flex-based header and controls
 * will start to wrap. Make our editor take up less height. */
@media only screen and (max-width: 800px) {
    #editor {
        height: 50vh;
    }
}
